:root {
    --clue: #c9b458;
    --true: #6aaa64;
    --lightGray: #d3d6da;
    --darkGray: #787c7e;
    --headerHeight: 60px;
    --lightGrayTransparent: #d3d6da56;
}

* {
    font-family: 'Noto Sans JP', sans-serif;
}

body {
    margin: 0;
}


/* ---------header--------- */

header {
    border-bottom: 1px solid var(--lightGray);
}

nav {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    height: var(--headerHeight);
}

#title {
    margin: 0;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    font-family: 'Suwannaphum', serif;
    font-size: 2rem;
    pointer-events: none;
}

#menu {
    position: absolute;
    right: 0;
    margin-right: 30px;
}

/* icons */

.material-symbols-outlined {
    color: black !important;
    font-weight: bold !important;
    font-size: 2rem !important;
    cursor: pointer;
}

.material-symbols-outlined:first-child {
    margin: 0 30px;
}

#menu .material-symbols-outlined {
    margin: 4px;
}

#source-code-link {
    position: relative;
}

/* tooltip for github link */

#tooltip-text {
    visibility: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    position: absolute;
    background-color: var(--lightGrayTransparent);
    color: rgba(0, 0, 0, 0.677);
    text-align: center;
    border-radius: 3px;
    width: 80px;
    padding: 5px 0;
    z-index: 1;
    left: 50%;
    margin-left: -38px;
    top: 5px;
}

#source-code-link:hover #tooltip-text {
    visibility: visible;
}

/* ------------page content------------ */

section {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#alert-container {
    height: 30px;
}

/* word board */

#word-board {
    margin-top: 40px;
}

.row {
    display: flex;
    flex-direction: row;
}

.letter {
    width: 50px;
    height: 50px;
    border: 2px solid var(--lightGray);
    margin: 2px;
    text-align: center;
    font-size: 2rem;
}

/* keyboard */

#keyboard-container {
    width: 540px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}


#keyboard-container button {
    width: 45px;
    height: 52px;
    border: none;
    border-radius: 4px;
    background-color: var(--lightGray);
    font-weight: bold;
    margin: 4px;
    cursor: pointer;
}

#keyboard-container button[value="ENTER"] {
    width: 60px;
}

#keyboard-container button[value="⌫"] {
    width: 60px;
}